{{>header}}
<div class="container">
    <h1>Inscripcion de cursos</h1>
    <h3>{{mensajeMatricula}}</h3>
    <form method="POST">
        <div class="form-group">
            <div class="col">
                <label>Documento de identidad</label>
                <input type="text" class="form-control" name="dni" placeholder="Numero de documento" required>
            </div>
            <div class="col">
                <label>nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre completo" required>
            </div>
            <div class="col">
                <label>Correo</label>
                <input type="email" class="form-control" name="correo" placeholder="af@example.com" required>
            </div>
            <div class="col">
                <label>Telefono</label>
                <input type="text" class="form-control currency" name="telefono" placeholder="telefono" required>
            </div>
            <div class="col">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Cursos">Curso a inscribir</label>
                        <select class="form-control" name="idCurso">
                            {{{NombresCursos listado}}}
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Matricular</button><br>
        </div>
    </form>
</div>
{{>footer}}